@model MvcMovie.Models.Movie
@{
    ViewBag.Title = "Edit";
}
<h3>Edit</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MovieId)
    <div class="container">
        <div class="jumbotron" style="margin-top: 70px">
            <div class="panel" style="background-color:white">
                <div class="panel-heading" style=" background-color:lightblue;color:black">
                    <div class="row" style="font-size:large">
                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.MoviesTitle)
                        </div>
                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.MovieGenre)
                        </div>
                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.MovieDate)
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="row" style="margin:10px">
                        <div class="col-xs-4">
                            @Html.EditorFor(model => model.MoviesTitle)
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(model => model.MovieGenre)
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(model => model.MovieDate)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            @Html.ValidationMessageFor(model => model.MoviesTitle)
                        </div>
                        <div class="col-xs-4">
                            @Html.ValidationMessageFor(model => model.MovieGenre)
                        </div>
                        <div class="col-xs-4">
                            @Html.ValidationMessageFor(model => model.MovieDate)
                        </div>
                    </div>
                </div>

                <div class="tab-content" style="margin:10px">
                    <h3>Are you sure you want to edit this?</h3>

                    <p>
                        <input type="submit" value="Save" class="btn btn-primary" style="margin-left:30px" /> &nbsp;
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-xs" })
                    </p>

                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

